<h2>Your cart: {{ items.length || 'empty' }}</h2>

<div>
  <li class="cart-item" *ngFor="let item of items">
    {{ item.name }} - {{ item.price | currency : 'USD' : true : '1.2-2' }}
  </li>
</div>
<a routerLink="/shipping">Shipping Prices</a>

<form [formGroup]="checkoutForm" (ngSubmit)="onSubmit()">
  <div>
    <label for="name"> Name </label>
    <input type="text" formControlName="name" />
  </div>

  <div>
    <label for="address"> Address </label>
    <input type="text" formControlName="address" />
  </div>
  <button class="fancy-button" type="submit">Purchase</button>
</form>
